.navbar {
    width: 100%;
}
// 4- Aquí tienes que definir las variables que utiliza Bootstrap y BootstrapVue antes
// de llamar a los estilos que menciona Bootstrap en su documentación

// INICIO: AQUI IRIAN LAS VARIABLES A REEMPLAZAR
// Estas son las posibles variables
// https://bootstrap-vue.org/docs/reference/color-variants#creating-custom-variants
// $navcolor: #332859 !default; // Estoy cambiando el color azul por defecnto a un color rojo
$text-white: #D9B7B0 !default; // Estoy cambiando el color naranja por defecnto a un color amarillo
$secondary:       $text-white !default;


// $primary: $navcolor !default;
// FIN

// Luego de haber sobreescrito las variables ya puedes seguir con lo que dice la documentación
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
// Mirar el componente App.vue

