<template>
    <div class="about">
    
    

    <b-container>
        <b-row>
            <h1>This is the About Page</h1>
            <b-col cols="12" md="6" lg="4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, qui ex molestias corporis, odit itaque repudiandae sapiente, culpa reprehenderit necessitatibus consequuntur quidem aspernatur quia veritatis suscipit dolore cumque doloremque aliquid.</p>
            </b-col>
            <b-col cols="12" md="6" lg="4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, qui ex molestias corporis, odit itaque repudiandae sapiente, culpa reprehenderit necessitatibus consequuntur quidem aspernatur quia veritatis suscipit dolore cumque doloremque aliquid.</p>
            </b-col>
            <b-col cols="12" md="6" lg="4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, qui ex molestias corporis, odit itaque repudiandae sapiente, culpa reprehenderit necessitatibus consequuntur quidem aspernatur quia veritatis suscipit dolore cumque doloremque aliquid.</p>
            </b-col>
        </b-row>
    </b-container>

    </div>
</template>
<script>
</script>
<style scoped>
h1{
    margin: 3%;
    width: 100%;
    padding-bottom: 5%;
}
p {
    position:relative;
}
</style>