<template>
<div id="home">

  <b-img :src="require('~@/assets/static/cover.jpg')"></b-img>

    <b-container class="mt-5">
        <b-row>
            <b-col cols="12">
        <h1>Hi, My name is Lautaro Varela,</h1>
        <p>in this site i will show you my profile, what it looks my career
        and what i love to do.</p>
            </b-col>
        </b-row>
        <transition name="more" mode="out-in">
        <b-button @click="show = !show"><b-icon class="more" icon="chevron-down"></b-icon><b-icon class="less" icon="chevron-up"></b-icon></b-button>
        </transition>
        <transition name="info">
            <p v-if="show">I´m a JR frontend developer...</p>
        </transition>
    </b-container>

</div>
</template>

<script>

export default {
    data() {
        return {
         show: false
        }
    }
}
</script>
<style lang="scss" scoped>

.page {
  display: block;
  margin: 0 auto;
}

button {
    width: 100%;
}
.info-enter-active {
    transition: all .3s ease;
}

.info-leave-active {
    transition: all .3s;
}

.info-enter, .info-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}


.more-enter-active {
    transition: all .3s ease;
}

.more-leave-active {
    transition: all .3s;
}

.more-enter, .more-leave-to {
    transform: translateY(-10px);
    @keyframes more {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }

    }
}
</style>
