<template>
    <div>
    <b-container>
    <h1>There are my Projects</h1>
    
    <b-row>
      <b-col cols="12" md="3" lg="6">
        <ProjectCard v-for="project in projects" 
                    :key="project.id" 
                    :name="project.name"
                    :details="project.details"/>
      </b-col>
    </b-row>

</b-container>
    </div>
</template>


<script>
import ProjectCard from '@/components/ProjectCard.vue'

export default {
    name: "projects",
    components: {
      ProjectCard
      },
      mounted(){
        this.fetchData();
      },
      data(){
        return {
          projects: []
        }
      },
      methods: {
        async fetchData(){
          const res = await fetch("projects.json");
          const val = await res.json();
          this.projects = val;
        }
      }
    }
    

</script>
<style scoped>
.page {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: 5%;
}
</style>