<template>
    <div class="nav">
    <b-navbar toggleable="md" type="light" variant="transparent">

    <b-navbar-toggle target="nav-collapse" class="text-light" ></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav style="width: 100%" justified>
        <b-nav-item :to="{ name: 'home' }" exact>Home</b-nav-item>
        <b-nav-item :to="{ name: 'projects' }">Projects</b-nav-item>
        <b-nav-item :to="{ name: 'about' }">About</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    </div>
</template>

<style scope>
.nav {
    width: 100%;
}
</style>